<header id="header" class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand p-3" href="/">Scrum Masters</a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            </ul>
            <div class="text-end">
                <a routerLink="/main/planning">📅 Sprint Planning</a>&nbsp;&nbsp;
                <a routerLink="/main/review">📊 Sprint Review</a>&nbsp;&nbsp;
                <a routerLink="/main/retro">💬 Sprint Retro</a>&nbsp;&nbsp;
            </div>
        </div>
    </div>
</header>


<router-outlet />