<div style="background-color: #eaeaea; padding: 20px; border-bottom: 1px solid #cdcdcd;">
    <div class="row">
        <div class="col-md-12" style="text-align: center; padding-bottom: 15px;">
            <h5><b> 📊 Sprint Review</b></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="mb-3">
                <label class="form-label">Tema</label>
                <select class="form-select" [(ngModel)]="mainClass">
                    @for (item of themes; track item){
                    <option [value]="item">{{item}}</option>
                    }
                </select>
            </div>

        </div>
        <div class="col-md-3">
            <div class="mb-3">
                <label for="formFile" class="form-label">Archivo Excel</label>
                <input type="file" class="form-control" (change)="addFile($event)" placeholder="Upload file"
                    accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            </div>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>


<app-review-general  *ngIf="mainClass=='theme-default'" [fileWorkbook]="fileWorkbook" [mainClass]="mainClass" [baseColor]="getBaseColor()">
</app-review-general>

<app-review-general  *ngIf="mainClass=='theme-poket'" [fileWorkbook]="fileWorkbook" [mainClass]="mainClass" [baseColor]="getBaseColor()">
</app-review-general>

<app-review-general  *ngIf="mainClass=='theme-exp-digital'" [fileWorkbook]="fileWorkbook" [mainClass]="mainClass" [baseColor]="getBaseColor()">
</app-review-general>


<app-review-activos-comercial  *ngIf="mainClass=='theme-activos-comercial'" [fileWorkbook]="fileWorkbook" [mainClass]="mainClass" [baseColor]="getBaseColor()">
</app-review-activos-comercial>

<app-review-activos-juridico-core  *ngIf="mainClass=='theme-activos-juridico-core'" [fileWorkbook]="fileWorkbook" [mainClass]="mainClass" [baseColor]="getBaseColor()">
</app-review-activos-juridico-core>
