<div class="body  {{ mainClass }}">
    <!-- Contenedor -->
    <div style="width: 100%; color:#444444;">
        <div style="text-align: center;">
            <br>
            &nbsp;
            <br>
            &nbsp;
            <br>
        </div>

        <table class="container" style="width: 950px;">
            <tr style="border: none !important;">
                <td>
                    <!-- Logo y Titulo -->
                    <div id="header">
                        <table style="width: 950px;">
                            <tr style="border: none !important">
                                <td>
                                    <h2 id="equipo" class="fs-2 mt-2" style="color:#fff;">{{ planning.team
                                        }}</h2>
                                    <h2 class="fs-6 mt-2 mb-2" style="color: #fff;">Review: {{
                                        planning.sprint }}
                                    </h2>
                                </td>
                                <td width="150">
                                    <img id="logoImg" [src]="logoImage" alt="logoLafise" width="150px">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- Introduccion Correo -->
                    <div id="body">
                        <p>
                            Buenos días Equipo, les envío la esencia de lo que abordamos el día de hoy en el
                            review del {{ planning.sprint }}
                        </p>

                        <table>
                            <tr style="border: none !important">
                                <td style="width: 600px;">

                                    <!-- Avance -->
                                    <table>
                                        <tr style="border: none !important">
                                            <td>
                                                <div class="m-card">
                                                    <div class="m-card-header">
                                                        <table>
                                                            <tr style="border: none !important; ">
                                                                <td style="width: 48px; height: 48px;">
                                                                    <img src="https://cdn-icons-png.flaticon.com/128/1055/1055646.png"
                                                                        alt="" style="width: 48px;" />
                                                                </td>
                                                                <td style="padding-left: 5px;">
                                                                    <div class="title">Avances Funcionalidades
                                                                    </div>
                                                                    <div class="subtitle">% Avance Equipos y módulos.
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div style="padding: 10px;">
                                                        <table>
                                                            <tr style="border: none !important; ">
                                                                <td
                                                                    style="width: 200px; text-align: center; padding-right: 5px;">
                                                                    <img [src]="graficos.general" alt=""
                                                                        style="width: 200px;">
                                                                    Avance General <span id="avance">{{ graficos.avance
                                                                        }}</span>%
                                                                </td>
                                                                <td
                                                                    style="width: 400px; text-align: center; border-left: 1px solid #eaeaea; padding-left: 5px;">
                                                                    <img [src]="graficos.avancesEspecialidad" alt=""
                                                                        style="width: 395px;">
                                                                    Avance de Componentes
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <hr>
                                                        <table>
                                                            <tr style="border: none !important; ">
                                                                <td style="width: 600px;">
                                                                    <img [src]="graficos.modulos" alt=""
                                                                        style="width: 600px;">
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                    <!-- Velocidad -->
                                    <table>
                                        <tr style="border: none !important">
                                            <td>
                                                <div class="m-card">
                                                    <div class="m-card-header">
                                                        <table>
                                                            <tr style="border: none !important; ">
                                                                <td style="width: 48px; height: 48px;">
                                                                    <img src="https://cdn-icons-png.flaticon.com/512/4492/4492357.png"
                                                                        alt="" style="width: 48px;" />
                                                                </td>
                                                                <td style="padding-left: 5px;">
                                                                    <div class="title">Velocidad
                                                                    </div>
                                                                    <div class="subtitle">Equipo e Individuos
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div style="padding: 10px;">
                                                        <img [src]="graficos.velocidadEquipo" alt=""
                                                            style="width: 600px;">

                                                        <hr>

                                                        <img [src]="graficos.velocidadMiembros" alt=""
                                                            style="width: 600px;">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>




                                </td>
                                <td style="width: 350px !important;">
                                    <div
                                        style="width: 100%; border-radius: 5px; background-color: #DFE7FF; padding: 10px;">
                                        <div class="m-card">
                                            <div class="m-card-header">
                                                <table>
                                                    <tr style="border: none !important; ">

                                                        <td style="padding-left: 5px;">
                                                            <div class="subtitle">⚠️ Riesgos</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div id="riesgos" style="padding: 10px;">
                                                <ul>
                                                    @for (item of planning.riesgos; track item) {
                                                    <li [innerHTML]="item"></li>
                                                    }
                                                </ul>

                                            </div>
                                        </div>
                                        <br>
                                        <div class="m-card">
                                            <div class="m-card-header">
                                                <table>

                                                    <tr style="border: none !important; ">

                                                        <td style="padding-left: 5px;">
                                                            <div class="subtitle">🎯 Alcance del Sprint #18</div>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </div>
                                            <div id="alcance" style="padding: 10px;">
                                                <table>
                                                    @for (item of planning.alcance; track item) {
                                                    <tr>
                                                        <td>{{ item.Objetivo }}</td>
                                                        <td>{{ item.Avance + "%"}}</td>
                                                    </tr>
                                                    }
                                                </table>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="m-card">
                                            <div class="m-card-header">
                                                <table>
                                                    <tr style="border: none !important; ">

                                                        <td style="padding-left: 5px;">
                                                            <div class="subtitle">💎 MVP</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div style="padding: 10px; text-align: center;">
                                                <img [src]="planning.mvp.imagen" alt="" style="width: 200px;">
                                                <div style="padding: 5px;">
                                                    <b [innerHTML]="planning.mvp.nombre"></b> 
                                                
                                                </div>
                                                @for (item of planning.mvp.logros; track item) {
                                                    {{ item.Logros }} <br>
                                                }
                                            </div>
                                        </div>

                                        <br>
                                        <div class="m-card">
                                            <div class="m-card-header">
                                                <table>
                                                    <tr style="border: none !important; ">

                                                        <td style="padding-left: 5px;">
                                                            <div class="subtitle">🔗 Enlaces</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div style="padding: 10px; text-align: center;">
                                                <table>
                                                    @for (item of planning.enlaces; track item) {
                                                    <tr style="border: none !important;">
                                                        <td  >
                                                            <a [href]="item.Enlace" target="_blank">
                                                                <img [src]="item.Imagen" alt="" style="width: 200px;">
                                                                {{ item.Titulo }}
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    }
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                </td>

                            </tr>
                        </table>


                        <p>Cualquier consulta o comentario estamos a la orden.</p>
                        <p class="mt-4">Muchas gracias.</p>
                        <p class="mt-4 mb-4">Saludos.</p>



                    </div>

                    <div id="footer"></div>
                </td>
            </tr>
        </table>

        <div style="text-align: center;">
            <br>
            &nbsp;
            <br>
            &nbsp;
            <br>
        </div>
    </div>

</div>